openapi: 3.0.3
info:
  title: Fluxion API
  description: |
    Fluxion MVP - Crypto-native invoicing platform API
    
    This API provides endpoints for creating and managing crypto invoices, processing payments, and user management with wallet-based authentication.
    
    ## Authentication
    Most endpoints require JWT authentication obtained through wallet signature verification.
    
    ## Supported Networks
    - Polygon (MATIC)
    
    ## Supported Tokens
    - USDC on Polygon
    
  version: 1.0.0
  contact:
    name: Fluxion Support
    url: https://fluxion.pay/support
    email: support@fluxion.pay
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.fluxion.pay
    description: Production server
  - url: https://staging-api.fluxion.pay
    description: Staging server
  - url: http://localhost:3000
    description: Local development server

paths:
  # Health and Info Endpoints
  /health:
    get:
      tags: [System]
      summary: Health check
      description: Returns the health status of the API and its dependencies
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /:
    get:
      tags: [System]
      summary: API information
      description: Returns general information about the API
      responses:
        '200':
          description: API information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiInfoResponse'

  /metrics:
    get:
      tags: [System]
      summary: System metrics
      description: Returns system performance metrics
      responses:
        '200':
          description: System metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'

  # User Management Endpoints
  /users/auth/message:
    post:
      tags: [Authentication]
      summary: Generate authentication message
      description: Generates a message for wallet signature authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [wallet_address]
              properties:
                wallet_address:
                  $ref: '#/components/schemas/WalletAddress'
      responses:
        '200':
          description: Authentication message generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthMessageResponse'
        '400':
          $ref: '#/components/responses/ValidationError'

  /users/auth/verify:
    post:
      tags: [Authentication]
      summary: Verify wallet signature
      description: Verifies wallet signature and returns JWT token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticateWalletRequest'
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /users/validate-address:
    post:
      tags: [Users]
      summary: Validate wallet address
      description: Validates the format of a wallet address
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [wallet_address]
              properties:
                wallet_address:
                  type: string
      responses:
        '200':
          description: Address validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressValidationResponse'

  /users/exists/{wallet}:
    get:
      tags: [Users]
      summary: Check if user exists
      description: Check if a user exists for the given wallet address
      parameters:
        - name: wallet
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/WalletAddress'
      responses:
        '200':
          description: User existence status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserExistsResponse'

  /users/profile/{wallet}:
    get:
      tags: [Users]
      summary: Get user profile
      description: Get user profile information
      security:
        - BearerAuth: []
      parameters:
        - name: wallet
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/WalletAddress'
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    put:
      tags: [Users]
      summary: Update user profile
      description: Update user profile information
      security:
        - BearerAuth: []
      parameters:
        - name: wallet
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/WalletAddress'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserProfileRequest'
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

    delete:
      tags: [Users]
      summary: Delete user account
      description: Delete user account (GDPR compliance)
      security:
        - BearerAuth: []
      parameters:
        - name: wallet
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/WalletAddress'
      responses:
        '200':
          description: Account deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  # Invoice Management Endpoints
  /invoices:
    post:
      tags: [Invoices]
      summary: Create invoice
      description: Create a new invoice
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvoiceRequest'
      responses:
        '201':
          description: Invoice created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /invoices/{id}:
    get:
      tags: [Invoices]
      summary: Get invoice by ID
      description: Get invoice details by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Invoice details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/InvoiceWithPayments'
        '404':
          $ref: '#/components/responses/NotFoundError'

    put:
      tags: [Invoices]
      summary: Update invoice
      description: Update invoice details
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInvoiceRequest'
      responses:
        '200':
          description: Invoice updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

    delete:
      tags: [Invoices]
      summary: Cancel invoice
      description: Cancel an invoice (soft delete)
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Invoice cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /invoices/{id}/public:
    get:
      tags: [Invoices]
      summary: Get public invoice details
      description: Get public invoice details for payment page
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Public invoice details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PublicInvoice'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /invoices/{id}/send:
    post:
      tags: [Invoices]
      summary: Send invoice
      description: Change invoice status to pending and send notification
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Invoice sent successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /invoices/user/{wallet}:
    get:
      tags: [Invoices]
      summary: Get user invoices
      description: Get all invoices for a user
      security:
        - BearerAuth: []
      parameters:
        - name: wallet
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/WalletAddress'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: nextToken
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/InvoiceStatus'
      responses:
        '200':
          description: User invoices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedInvoicesResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  # Payment Processing Endpoints
  /payments/verify:
    post:
      tags: [Payments]
      summary: Verify payment
      description: Verify a blockchain payment for an invoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyPaymentRequest'
      responses:
        '200':
          description: Payment verification result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaymentVerificationResult'
        '400':
          $ref: '#/components/responses/ValidationError'

  /payments/{id}:
    get:
      tags: [Payments]
      summary: Get payment details
      description: Get payment details by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Payment details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Payment'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /payments/tx/{hash}:
    get:
      tags: [Payments]
      summary: Get payment by transaction hash
      description: Get payment details by blockchain transaction hash
      parameters:
        - name: hash
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/TransactionHash'
      responses:
        '200':
          description: Payment details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Payment'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  # Analytics Endpoints
  /analytics/platform:
    get:
      tags: [Analytics]
      summary: Get platform analytics
      description: Get platform-wide analytics and statistics
      responses:
        '200':
          description: Platform analytics
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PlatformAnalytics'

  /analytics/user/{wallet}:
    get:
      tags: [Analytics]
      summary: Get user analytics
      description: Get analytics for a specific user
      security:
        - BearerAuth: []
      parameters:
        - name: wallet
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/WalletAddress'
      responses:
        '200':
          description: User analytics
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserAnalytics'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # Basic Types
    WalletAddress:
      type: string
      pattern: '^0x[a-fA-F0-9]{40}$'
      example: '0x742d35Cc6634C0532925a3b8D0Ea5E0E2d8F6'

    TransactionHash:
      type: string
      pattern: '^0x[a-fA-F0-9]{64}$'
      example: '0xabc123...'

    InvoiceStatus:
      type: string
      enum: [draft, pending, paid, expired, cancelled]

    PaymentStatus:
      type: string
      enum: [pending, confirmed, failed]

    # API Response Wrappers
    ApiResponse:
      type: object
      required: [success, meta]
      properties:
        success:
          type: boolean
        meta:
          type: object
          required: [requestId, timestamp]
          properties:
            requestId:
              type: string
            timestamp:
              type: string
              format: date-time
            version:
              type: string

    SuccessResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                message:
                  type: string

    # Error Response
    ErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          required: [error]
          properties:
            success:
              type: boolean
              enum: [false]
            error:
              type: object
              required: [code, message]
              properties:
                code:
                  type: string
                message:
                  type: string
                details:
                  type: object

    # User Types
    User:
      type: object
      required: [wallet_address, notification_preferences, stats, created_at, updated_at]
      properties:
        wallet_address:
          $ref: '#/components/schemas/WalletAddress'
        email:
          type: string
          format: email
        display_name:
          type: string
          maxLength: 50
        notification_preferences:
          type: object
          required: [email_on_payment, email_on_invoice_viewed]
          properties:
            email_on_payment:
              type: boolean
            email_on_invoice_viewed:
              type: boolean
        stats:
          type: object
          required: [invoice_count, total_received, last_active_at]
          properties:
            invoice_count:
              type: integer
              minimum: 0
            total_received:
              type: number
              minimum: 0
            last_active_at:
              type: string
              format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    AuthenticateWalletRequest:
      type: object
      required: [wallet_address, signature, message]
      properties:
        wallet_address:
          $ref: '#/components/schemas/WalletAddress'
        signature:
          type: string
        message:
          type: string

    UpdateUserProfileRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        display_name:
          type: string
          maxLength: 50
        notification_preferences:
          type: object
          properties:
            email_on_payment:
              type: boolean
            email_on_invoice_viewed:
              type: boolean

    # Invoice Types
    LineItem:
      type: object
      required: [description, quantity, rate, amount]
      properties:
        id:
          type: string
          format: uuid
        description:
          type: string
          maxLength: 200
        quantity:
          type: number
          minimum: 0.01
          maximum: 1000000
        rate:
          type: number
          minimum: 0.01
          maximum: 1000000
        amount:
          type: number
          minimum: 0.01

    Invoice:
      type: object
      required: [invoice_id, creator_wallet, client_email, client_name, amount, description, status, due_date, payment_url, created_at, updated_at]
      properties:
        invoice_id:
          type: string
          format: uuid
        creator_wallet:
          $ref: '#/components/schemas/WalletAddress'
        client_email:
          type: string
          format: email
        client_name:
          type: string
          maxLength: 100
        amount:
          type: number
          minimum: 0.01
          maximum: 1000000
        description:
          type: string
          maxLength: 500
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/LineItem'
        status:
          $ref: '#/components/schemas/InvoiceStatus'
        due_date:
          type: string
          format: date-time
        paid_at:
          type: string
          format: date-time
        payment_tx_hash:
          $ref: '#/components/schemas/TransactionHash'
        payment_url:
          type: string
          format: uri
        pdf_url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    InvoiceWithPayments:
      allOf:
        - $ref: '#/components/schemas/Invoice'
        - type: object
          properties:
            payments:
              type: array
              items:
                type: object
                properties:
                  payment_id:
                    type: string
                    format: uuid
                  tx_hash:
                    $ref: '#/components/schemas/TransactionHash'
                  amount:
                    type: number
                  status:
                    type: string
                  created_at:
                    type: string
                    format: date-time

    PublicInvoice:
      type: object
      required: [invoice_id, creator_wallet, client_name, amount, description, status, due_date, created_at]
      properties:
        invoice_id:
          type: string
          format: uuid
        creator_wallet:
          $ref: '#/components/schemas/WalletAddress'
        client_name:
          type: string
        amount:
          type: number
        description:
          type: string
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/LineItem'
        status:
          $ref: '#/components/schemas/InvoiceStatus'
        due_date:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    CreateInvoiceRequest:
      type: object
      required: [creator_wallet, client_email, client_name, amount, description, due_date]
      properties:
        creator_wallet:
          $ref: '#/components/schemas/WalletAddress'
        client_email:
          type: string
          format: email
        client_name:
          type: string
          minLength: 1
          maxLength: 100
        amount:
          type: number
          minimum: 0.01
          maximum: 1000000
        description:
          type: string
          minLength: 1
          maxLength: 500
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/LineItem'
        due_date:
          type: string
          format: date-time

    UpdateInvoiceRequest:
      type: object
      properties:
        client_email:
          type: string
          format: email
        client_name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          minLength: 1
          maxLength: 500
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/LineItem'
        due_date:
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/InvoiceStatus'

    # Payment Types
    Payment:
      type: object
      required: [payment_id, invoice_id, tx_hash, from_address, to_address, amount, status, confirmations, created_at, updated_at]
      properties:
        payment_id:
          type: string
          format: uuid
        invoice_id:
          type: string
          format: uuid
        tx_hash:
          $ref: '#/components/schemas/TransactionHash'
        from_address:
          $ref: '#/components/schemas/WalletAddress'
        to_address:
          $ref: '#/components/schemas/WalletAddress'
        amount:
          type: number
        gas_used:
          type: integer
        block_number:
          type: integer
        status:
          $ref: '#/components/schemas/PaymentStatus'
        confirmations:
          type: integer
          minimum: 0
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    VerifyPaymentRequest:
      type: object
      required: [invoice_id, tx_hash, from_address]
      properties:
        invoice_id:
          type: string
          format: uuid
        tx_hash:
          $ref: '#/components/schemas/TransactionHash'
        from_address:
          $ref: '#/components/schemas/WalletAddress'

    PaymentVerificationResult:
      type: object
      required: [payment, invoice, verification_details]
      properties:
        payment:
          $ref: '#/components/schemas/Payment'
        invoice:
          $ref: '#/components/schemas/Invoice'
        verification_details:
          type: object
          required: [is_valid, confirmations, actual_amount, actual_sender, actual_recipient]
          properties:
            is_valid:
              type: boolean
            confirmations:
              type: integer
            actual_amount:
              type: string
            actual_sender:
              $ref: '#/components/schemas/WalletAddress'
            actual_recipient:
              $ref: '#/components/schemas/WalletAddress'
            already_processed:
              type: boolean

    # Analytics Types
    PlatformAnalytics:
      type: object
      properties:
        overview:
          type: object
          properties:
            total_invoices:
              type: integer
            total_payments:
              type: integer
            total_volume:
              type: number
            total_users:
              type: integer
            active_users_7d:
              type: integer
            active_users_30d:
              type: integer
        # ... other analytics properties

    UserAnalytics:
      type: object
      properties:
        invoice_summary:
          type: object
          properties:
            total_invoices:
              type: integer
            paid_invoices:
              type: integer
            pending_invoices:
              type: integer
            total_amount_received:
              type: number
        # ... other analytics properties

    # Response Types
    HealthResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                status:
                  type: string
                  enum: [healthy, degraded, unhealthy]
                timestamp:
                  type: string
                  format: date-time
                version:
                  type: string
                environment:
                  type: string
                services:
                  type: object
                uptime:
                  type: number

    ApiInfoResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                service:
                  type: string
                version:
                  type: string
                environment:
                  type: string
                endpoints:
                  type: object
                supported_networks:
                  type: array
                  items:
                    type: string
                supported_tokens:
                  type: array
                  items:
                    type: string

    MetricsResponse:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        process:
          type: object
        environment:
          type: object

    AuthMessageResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                message:
                  type: string
                nonce:
                  type: string
                timestamp:
                  type: integer

    AuthResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                token:
                  type: string
                user:
                  $ref: '#/components/schemas/User'
                expires_at:
                  type: string
                  format: date-time

    AddressValidationResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                wallet_address:
                  type: string
                is_valid:
                  type: boolean

    UserExistsResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                wallet_address:
                  $ref: '#/components/schemas/WalletAddress'
                exists:
                  type: boolean
                profile_complete:
                  type: boolean

    PaginatedInvoicesResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Invoice'
            pagination:
              type: object
              properties:
                hasMore:
                  type: boolean
                nextToken:
                  type: string

  responses:
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ErrorResponse'
              - type: object
                properties:
                  error:
                    properties:
                      code:
                        enum: [VALIDATION_ERROR]

    UnauthorizedError:
      description: Authentication required
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ErrorResponse'
              - type: object
                properties:
                  error:
                    properties:
                      code:
                        enum: [UNAUTHORIZED]

    ForbiddenError:
      description: Access forbidden
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ErrorResponse'
              - type: object
                properties:
                  error:
                    properties:
                      code:
                        enum: [FORBIDDEN]

    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/ErrorResponse'
              - type: object
                properties:
                  error:
                    properties:
                      code:
                        enum: [NOT_FOUND]